@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Karla');

* {
  font-family: Karla, monospace;
  color: white;
  font-size: 20px;
  white-space: 120%;
}

body {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3, h4 {
  font-family: Rubik, monospace;
}

.lead {
  color: white;
}

.title-name {
  color: white;
  font-weight: bold;
}

.section-col {
  color: white;
}

.fa {
  padding: 0px 5px 0px 5px;
  font-weight: 200;
}

.fa-github, .fa-twitter, .fa-facebook {
  font-size: 20px;
  padding: 0px 30px 0px 30px;
}

.fa-github {
  color: #fff;
}

.fa-twitter {
  color: #fff;
}

.fa-facebook {
  color: #fff;
}

.social-media {
  text-align: center;
  margin: 50px 0px 0px 0px;
}

.email, .vcard {
  font-size: 20px;
}

.email p, .contact p {
  margin-bottom: 5px;
}

.text-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 2%;
  font-size: 15px;
}

.my-nav-text {
  color: #CEF5C6;
}

.my-nav-text:hover {
  text-decoration: none;
  color: #CEF5C6;
}

.section-title {
  color: #89FF47;
}

.section-text {
  color: #B3E675;
}

.section-text:hover {
  text-decoration: none;
  color: #B3E675;
}

.text-box ul {
  margin: 0;
  padding: 0;
}

.text-box li {
  list-style-type: none;
}

.contact-text {
  color: #EDFFBA;
}

.contact-text:hover {
  text-decoration: none;
  color: #EDFFBA;
}

.my-section-text {
  color: #EBF563;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  body {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ), url('../images/desktop-background.jpg');
  }

  .email p {
    margin-bottom: 0px;
  }

  .container {
    position: relative;
  }

  .social-media {
    position: absolute;
    top: 500px;
    left: 500px;
  }

  .fa-github, .fa-twitter, .fa-facebook {
    font-size: 25px;
    padding: 0px 30px 0px 30px;
  }

  .my-nav-text:hover {
    color: black;
    background: #CEF5C6;
    transition: 0.2s;
  }

  .contact-text:hover {
    text-decoration: none;
    color: black;
    background-color: white;
    transition: 0.2s;
  }

  .section-text:hover {
    text-decoration: none;
    color: black;
    background-color: white;
    transition: 0.2s;
  }
}
